<div ng-controller="doctypeUtilityController as vm">
    <h2>Doctype Utility</h2>
    <umb-load-indicator ng-if="!vm.loaded"></umb-load-indicator>

    <div ng-if="vm.loaded">
        <h3>Sites list</h3>
        <div ng-if="!vm.sites">
            <p>No Items</p>
        </div>
        <div class="umb-table">
            <div class="umb-table-head">
            </div>
            <div class="umb-table-body">
                <div class="umb-table-row -selectable" ng-repeat="itm in vm.sites">
                    <div class="umb-table-cell">Site</div>
                    <div class="umb-table-cell">{{itm.Name}}</div>
                    <div class="umb-table-cell">{{itm.Url}}</div>
                    <div class="umb-table-cell"><span ng-if="!itm.Local"><umb-button button-style="info" action="vm.ListDifferences(itm.Name)" label="View diffs"></umb-button></span></div>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="vm.dtloaded">
        <h3>Doctypes</h3>
        <div>
            <p>Success: <span ng-if="vm.doctypes"> {{vm.doctypes.Success}} </span> </p>
            <p>Message: <span ng-if="vm.doctypes"> {{vm.doctypes.Message}} </span> </p>
        </div>

        <div class="umb-table" ng-if="vm.doctypes">
            <div class="umb-table-head">
                <div class="umb-table-row">
                    <div class="umb-table-cell">Diff Id</div>
                    <div class="umb-table-cell">Diff Key</div>
                    <div class="umb-table-cell">Diff Items</div>
                    <div class="umb-table-cell">Local Name</div>
                    <div class="umb-table-cell">Local Alias</div>
                    <div class="umb-table-cell">Remote Name</div>
                    <div class="umb-table-cell">Remote Alias</div>
                </div>
            </div>
            <div class="umb-table-body">
                <div class="umb-table-row -selectable" ng-repeat="itm in vm.doctypes.Doctypes">
                    <div class="umb-table-cell">{{itm.DiffId}}</div>
                    <div class="umb-table-cell">{{itm.DiffKey}}</div>
                    <div class="umb-table-cell">{{itm.DiffItems}}</div>
                    <div class="umb-table-cell">{{itm.Local.Name}}</div>
                    <div class="umb-table-cell">{{itm.Local.Alias}}</div>
                    <div class="umb-table-cell">{{itm.Remote.Name}}</div>
                    <div class="umb-table-cell">{{itm.Remote.Alias}}</div>
                </div>
            </div>
        </div>
    </div>
</div>



